.section {
  display: flex;
  flex-direction: column;
}

.section h1 {
  display: flex;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 40px;
  justify-content: center;
}

.section div {
  display: flex;
  justify-content: center;
}
