.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.question p {
  margin: 0;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}
