.header-container {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 0 10px 20px;
}

.avatar {
  width: 50px;
}

.header-container p {
  margin: 0;
}
