.App-logo {
  pointer-events: none;
  width: 500px;
}

.login-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
  width: 70%;
}

.img-form-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 50%;
}

.login-form input {
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 5px;
  padding: 7px;
}

.btn {
  border-radius: 10px;
  color: #f2f2f2;
  font-size: 30px;
  padding: 15px 30px;
}

.config {
  background-color: rgb(143, 192, 65);
  border: 1px solid white;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
}

.play {
  background-color: rgb(65, 105, 192);
  border: 1px solid white;
  cursor: pointer;
  margin-top: 30px;
}

.play:disabled {
  background-color: rgba(65, 105, 192, 0.137);
  border: 1px solid #777;
  color: #777;
  cursor: not-allowed;
}
