.ranking-page {
  text-align: center;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.ranking-title {
  margin: 70px 0 50px;
}

.btn-go-home {
  position: absolute;
  text-decoration: none;
  color: #eee;
  background-color: rgb(65, 105, 192);
  padding: 10px 20px;
  top: 20px;
  left: 200px;
}

.ranking-card {
  align-items: center;
  background-color: #333;
  border-radius: 10px;
  color: #eee;
  display: flex;
  min-width: 600px;
  margin: 10px auto;
  justify-content: space-between;
  padding: 7px;
  width: 50%;
}

.ranking-card img {
  border-radius: 10px;
  width: 70px;
}
