.modal-header {
  background-color: transparent;
  color: inherit;
}

.modal-body {
  min-height: 205px;
}

.wrongAnswer {
  border: 3px solid red;
}

.rightAnswer {
  border: 3px solid rgb(6, 240, 15);
}

.gameIndex {
  margin: 20px;
}

.nextQuestion {
  margin-top: 5rem;
  width: 99%;
}

.button {
  margin: 20px;
}
