.header-container {
  align-items: center;
  background-color: #ffbc58;
  border: 1px solid gray;
  color: rgb(44, 18, 56);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-avatar {
  padding: 20px;
}

.header-player-name-container {
  font-size: 20px;
}

.header-score-container {
  align-items: baseline;
  display: flex;
}

.header-score-container p {
  margin-left: 10px;
}
