.login-form {
  margin-top: 500px;
  background-color: red;
  display: flex;
}

.login-input {
  height: 2.5em;
  width: 280px;
  border-radius: 15px;
  border: none;
  margin: 50px 20px 20px 20px;
  padding-left: 15px;
  font-size: 16px;
}

.btn-login {
  margin: 40px;
  height: 2.7em;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
}

.btn-play {
  color: rgba(255, 255, 255, 0.80);
  background-color: rgba(231, 111, 81, 0.90);
  width: 180px;
}

.btn-play:hover {
  color: #fff;
  background-color: #e76f51;
}

.btn-play:disabled {
  color: rgba(255, 255, 255, 0.40);
  background-color: rgba(231, 111, 81, 0.40);
}

.btn-config {
  width: 270px;
  margin-top: -20px;
  color:rgba( 0, 0, 0, 0.80);
  background-color: rgba(255, 255, 255, 0.80);
}

.btn-config:hover {
  color: #000;
  background-color: #fff;
}
