.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.input {
  border: 2px solid #2c1238;
  border-radius: 0 25px 25px 0;
  font-family: Roboto , Arial , sans-serif;
  font-size: 18px;
  height: 40px;
  margin: 10px 0;
  outline: none;
  padding-left: 20px;
  position: relative;
  width: 450px;
  z-index: -1;
}

.input:hover {
  background-color: rgba(44, 18, 56, 0.05);
}

.icon-credentials {
  background-color: #2c1238;
  border-radius: 25px 0 0 25px;
  color: white;
  display: inline-block;
  font-size: 22px;
  padding: 10px 15px 11px 25px;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 50px;
  width: 450px;
}

.btn {
  background-color: rgba(255, 188, 88, 0.8);
  border: none;
  border-radius: 10px;
  color: rgba(44, 18, 56, 0.85);
  cursor: pointer;
  height: 70px;
}

.btn:hover {
  background-color: rgba(255, 188, 88, 0.85);
  color: rgb(44, 18, 56);
}

.btn:disabled {
  background-color: rgba(255, 188, 88, 0.5);
  color: rgba(44, 18, 56, 0.4);
  cursor: auto;
}

.btn-play {
  font-family: Poppins , Arial , Helvetica , sans-serif;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 250px;
}

.btn-config {
  font-size: 35px;
  width: 75px;
}

.Gear-icon {
  animation: spinReverse 0.4s linear;
}

.btn-config:hover .Gear-icon {
  animation: spin 0.4s linear;
}

@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(65deg);
  }

  95% {
    transform: rotate(55deg);
  }

  100% {
    transform: rotate(60deg);
  }
}

@keyframes spinReverse {

  0% {
    transform: rotate(60deg);
  }

  15% {
    transform: rotate(55deg);
  }

  50% {
    transform: rotate(65deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
