.all-pages-logo {
  height: 250px;
  margin: 0;
}

.feedback-message {
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
  color: rgb(77, 17, 108);
}

.feedback-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.feedback-ranking,
.feedback-play-again {
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  background-color: rgb(117, 149, 255);
  border: 3px solid rgb(34, 50, 189);
  font-family: cursive;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.feedback-ranking {
  text-decoration: none;
}
