.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.logo {
  width: 500px;
}

.button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.25em;
  color: var(--primary-text-color);
  cursor: pointer;
  font-weight: 600;
  padding: 0.5em 1em;
}

.button:hover {
  background-color: var(--secondary-color);
}

@media ( prefers-reduced-motion : no-preference ) {

  .logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
