/* link das bordas https://css-tricks.com/how-to-create-neon-text-with-css/ */

.neon-border-purple{
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 1em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.neon-border-red{
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 1em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem rgb(255, 0, 64),
              0 0 0.8rem rgb(255, 0, 64),
              0 0 2.8rem rgb(255, 0, 64),
              inset 0 0 1.3rem rgb(255, 0, 64);
}

.neon-border-blue{
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 0.4em;
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem rgb(0, 153, 255),
              0 0 0.8rem rgb(0, 153, 255),
              0 0 2.8rem rgb(0, 153, 255),
              inset 0 0 1.3rem rgb(0, 153, 255);
}


.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;

}

.inputNeon-blue {
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
              0 0 .1rem #fff,
              0 0 1rem rgb(0, 153, 255),
              0 0 0.4em rgb(0, 153, 255),
              0 0 0.4rem rgb(0, 153, 255),
              inset 0 0 0.6rem rgb(0, 153, 255);
  background-color: black;
  color: rgb(179, 205, 255);
  font-weight: bold;
  margin: 1rem;
  width: 100%;
}

.btn-neon-red {
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
              0 0 .1rem #fff,
              0 0 1rem rgb(255, 0, 64),
              0 0 0.4em rgb(255, 0, 64),
              0 0 0.4rem rgb(255, 0, 64),
              inset 0 0 0.6rem rgb(255, 0, 64);
  background-color: black;
  color: rgb(255, 161, 208);
  font-weight: bold;
  margin: 1rem;
  width: 85%;
}

.btn-neon-red:disabled {
  opacity: 30%;
}

.inputName, .inputEmail {
display: flex;
align-items: center;
}

.div-btn-settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn-settings {
  height: 40px;
};

.btn-div-img-settings img {
  max-height: 10px;
  max-width: 10px;
};

.btn-img-settings {
  max-height: 10px;
  max-width: 10px;
}
