.settings-img {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  margin-top: 40px;
  box-shadow: 0 0 5em white;
  border: 10px solid rgb(77, 17, 108);
}

.settings-text {
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  color: rgb(77, 17, 108);
}
