#game {
  height: 100vh;
}

#questions {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#next {
  background-color: white;
  border: 0ch;
}

#nextImg {
  width: 50px;
}

#answers {
  display: flex;
  flex-direction: column;
}

#timer {
  display:flex;
  width: fit-content;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  padding: 5px;
}

.timer {
  width: 30px;
  padding: 0%;
  margin: 0px;
}

.wrong {
  background-color: #65B3AD;
  font-size: 1.2rem;
  padding: 10px;
  margin: 8px 0px;
  border: 3px solid red;
  border-radius: 10px;
  width: 500px;
  color: black;
}

.right {
  background-color: #65B3AD;
  font-size: 1.2rem;
  padding: 10px;
  margin: 8px 0px;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 10px;
  width: 500px;
  color: black;
}

.white {
  background-color: #65B3AD;
  font-size: 1.2rem;
  padding: 10px;
  margin: 8px 0px;
  border: 0ch;
  border-radius: 10px;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  width: 500px;
}