.rightAnswer {
  flex-grow: 1;
  border: 3px solid rgb(6, 240, 15);
  font-weight: bolder;
  width: 50%;
  border-radius: 10px;
}

.wrongAnswer {
  flex-grow: 1;
  border: 3px solid red;
  width: 50%;
  border-radius: 10px;
  font-weight: bolder;
}

.answers0 {
  background-color: red;
  color: white;
  flex-grow: 1;
  width: 50%;
  border-radius: 10px;
  font-weight: bolder;
}

.answers1 {
  background-color: blue;
  flex-grow: 1;
  color: white;
  font-weight: bolder;
  border-radius: 10px;
  width: 50%;
}

.answers2 {
  background-color: green;
  flex-grow: 1;
  color: white;
  width: 50%;
  border-radius: 10px;
  font-weight: bolder;
}

.answers {
  background-color: orange;
  color: white;
  flex-grow: 1;
  width: 50%;
  border-radius: 10px;
  font-weight: bolder;
}

.answ-btn {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  padding: 8%;
}

.game-page {
  min-height: 100vh;
  background-color: #d5d3d8;
  font-weight: bolder;
}

.header-game {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-around;
  background-color: #350f81;
  color: white;
  margin-bottom: 5%;
}

.img {
  width: 200px;;
}

.player-img {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
  margin: 5%;
}

.proximo-btn {
  background-color: #7209b7;
  color: white;
  padding: 1%;
  border-radius: 10px;
  padding: 10px;
  font-weight: bolder;
  font-size: x-large;
}

.timer {
  background-color: #7209b7;
  color: white;
  font-size: x-large;
  font-weight: bolder;
  align-self: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.score {
  background-color: #7209b7;
  color: white;
  padding: 1%;
  border-radius: 10px;
}

.quastion {
  font-size: x-large;
  font-weight: lighter;
  /* font-weight: bolder; */
  margin: 5px;
}

.theme-quastion {
  font-size: xx-large;
  font-weight: bolder;
  
}

.questions-section {
  display: flex;
  justify-content: space-around;
  margin: 5%;
  align-items: center;
}
