@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.header {
  display: flex;
  justify-content: center;
  max-height: 20vh;
  width: 100%;
  padding: 15px 0;
}

.header img {
  width: 50%;
}

.card-login {

}
