.header-quiz {
  align-items: center;
  background-color: #0b3c5d;
  color: #d9b310;
  display: flex;
  flex-direction: row;
  font-style: italic;
  justify-content: space-around;
  min-height: 15vh;
  width: 100vw;
}

.header-quiz span {
  padding: 0 10px;
}

.container-quiz {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}

.card-question-quiz {
  max-width: 100%;
}

.info-question-quiz {
  font-size: 1.6rem;
  text-align: center;
}

.list-buttons-quiz {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 15px 0;
}

.item-list-buttons-quiz {
  padding: 15px;
}

.li-quiz-button {
  border: 3px solid #328cc1;
  color: #1d2731;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  transition: 0.1s;
  width: 40vw;
}

.li-quiz-button:hover {
  color: #328cc1;
  padding: 12px;
  width: 40.5vw;
}

.li-quiz-button:disabled {
  color: #1d2731;
  cursor: auto;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}

.container-button-next {
  display: flex;
  justify-content: center;
}

.button-next {
  background-color: #0b3c5d;
  border: 1px solid #0b3c5d;
  color: #d9b310;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  width: 40vw;
}

.button-next:hover {
  color: #328cc1;
}

.timer {
  align-items: center;
  border: 3px solid #1d2731;
  border-radius: 50%;
  display: flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}
