.alternativesContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clicked {
  opacity: 0.5;
  transform: scale(1.4);
  transition: 0.5s;
}

.alternativesContainer button {
  background-color: none;
  border-radius: 6px;
  box-shadow: 0 1px 5px black;
  cursor: pointer;
  height: 60px;
  margin: 15px 0;
  width: 150px;
}

[ class *= 'correct' ] {
  border: 3px solid rgb(6, 240, 15);
}

[ class *= 'wrong' ] {
  border: 3px solid red;
}
