header {
  background-color: black;
  padding: 15px 30px 15px 30px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

header img {
  border-radius: 50px;
}

.header-player-name {
  color: white;
  font-size: xx-large;
  font-weight: bolder;
};

.div-header-score {
  color: white;
  display: flex;
  flex-direction: column
};

.border-header {
  display: flex;
  justify-content: center;
  height: 70px;
};

.header-score {
  font-size: xx-large;
  font-weight: bold;
  color: white;
};

.name-score {
  color:  white;
}