header {
  align-items: center;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;    
}

.player {
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.player img {
  border-radius: 50%;
  margin-right: 20px;
}
