.login-form {
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  width: 300px;
  margin: 30px auto;
}

.form-input {
  margin: 10px;

}

.form-play-button { 
  border-radius: 4px;
  margin: 5px;
  font-size: 16px;
  padding: 8px 20px;
}

.form-setting-button {
  border-radius: 4px;
  margin: 5px;
  font-size: 16px;
  padding: 8px 20px;
}

.form-play-button-enabled {
  background-color: #4CAF50;
  border-radius: 4px;
  font-size: 16px;
  margin: 5px;
  padding: 8px 20px;
}

.form-setting-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
}

.form-play-button-enabled:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
}

