.header {
  align-items: center;
  background-color: var(--primary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.gravatar {
  background-color: var(--secondary-text-color);
  border-radius: 50%;
  padding: 0.5em;
}

.logo {
  width: 250px;
}

.userInfo {
  background-color: var(--secondary-text-color);
  border-radius: 0.25em;
  display: flex;
  font-weight: 600;
  padding: 0.5em;
}

.userInfo p + p {
  border-left: 2px solid var(--primary-color);
  margin-left: 0.5em;
  padding-left: 0.5em;
}
