.answer-options {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-bottom: 18px;
}

.answer-options button {
  padding: 8px;
  font-size: 18px;
  background: #9835c9;
  box-shadow: 0 0 1em rgb(108, 77, 124);
  border: 3px solid rgb(192, 48, 197);
  color: white;
  font-weight: 700;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 100ms linear;
  outline: none;
}

.answer-options button:hover {
  background: #831bb8;
}

.answer-options button.show-correct-answer {
  box-shadow: 0 0 1em rgb(90, 255, 104);
  border-color: rgb(6, 240, 15);
  background: #1f6b1f;
}

.answer-options button.show-incorrect-answer {
  box-shadow: 0 0 1em rgb(243, 143, 50);
  border-color: red;
  background: #881e1a;
}

.question-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  margin-bottom: 64px;
  position: relative;
}

.question-header-category {
  padding: 6px 18px;
  font-size: 16px;
  background: #7097ff;
  border: 3px solid #dfd570;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 0;
}

.question-header-question {
  padding: 24px;
  font-size: 24px;
  background: #7097ff;
  border: 3px solid #dfd570;
  border-radius: 12px;
  width: 100%;
}

.question-header-countdown-wrapper {
  position: absolute;
  text-align: center;
  bottom: -48px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 36px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  background: #f5d64a;
  border: 3px solid #fa931c;
  line-height: 0;
  width: 70px;
  height: 70px;
  padding-top: 3px;
  border-radius: 100%;
}

.timer-danger {
  margin: 0;
  background: #f73838;
  border-color: #bb0a0a;
}
