.red {
  border: 2px solid red !important;
}

.green {
  border: 2px solid lime !important;
}

.questions__container {
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 860px;
  margin-top: 24px;
  margin-right: 40px;
  margin-left: 40px;
  align-self: center;
}

.questions__container h1,
.questions__container h2 {
  text-align: center;
  font-weight: 400;
}

.questions__container h1 {
  border-bottom: 4px solid;
}

.questions__container button {
  padding: 12px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1.4rem;
  background-color: whitesmoke;
  font-weight: 300;
  color: black; 
  align-self: stretch;
}

.questions__container button:not(:disabled):hover {
  background-color: lightblue;
  cursor: pointer;
  border-color: orangered;
}

.questions__container button:disabled {
  background-color: silver;
}

#root > div {
  display: flex;
  flex-direction: column;
}

.questions__container + button:not(:disabled) {
  margin-top: 10px;
  padding: 12px;
  align-self: center;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
  transition: 150ms;
  font-size: 1.3rem;
  animation: makeItBig .5s forwards;
  background-color:slateblue;
  color: white;
}

.questions__container + button:active {
  transform: scale(.8);
  box-shadow: 0 0 0;
}

.questions__container + button:not(:disabled):hover {
  cursor: pointer;
}

.trivia__header + span {
  right: 12px;
  top: 70px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 68px;
  height: 68px;
  border: 6px solid crimson;
  border-radius: 50%;
  font-size: 2rem;
}

.questions-in {
  animation: popin 1s forwards;
}

@keyframes popin {
  to {
    transform: scale(1);
  }
}

@keyframes makeItBig {
  0 { transform: scale(1.2) }
  50% { transform: scale(0.9) }
  100% { transform: scale(1) }
}
