.green {
  border: 3px solid rgb(6, 240, 15);
}

.red {
  border: 3px solid red;
}

.questions__container {
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 900px;
  margin-right: 40px;
  margin-left: 40px;
  align-self: center;
}

.questions__container button {
  padding: 10px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1.1rem;
  align-self: stretch;
  background-color: royalblue;
  color: white;
}

.questions__container button:hover {
  background-color: lightblue;
  cursor: pointer;
}

#root > div {
  display: flex;
  flex-direction: column;
}

.questions__container + button:not(:disabled) {
  margin-top: 10px;
  padding: 14px;
  align-self: center;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
  transition: 150ms;
  font-size: 1.3rem;
  animation: makeItBig 1s forwards;
}

@keyframes makeItBig {
  0 { transform: scale(1.2) }
  50% { transform: scale(0.9) }
  100% { transform: scale(1) }
}

.questions__container + button:active {
  transform: scale(.95);
  box-shadow: 0 0 0;
}

.questions__container + button:hover {
  cursor: pointer;
}

.trivia__header + span {
  margin-top: 6px;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 75px;
  height: 75px;
  border: 8px solid rebeccapurple;
  border-radius: 50%;
  font-size: 2rem;
}
