.header-container {
  background-color: #252525;
  display: flex;
}

.header-container > p {
  color: #eee;
}

.gravatar-game {
  margin-left: 25px;
  width: 65px;
}

.name-header {
  color: #eee;
  margin-left: 20px;
  margin-top: 22px;
}

.score {
  margin-left: 20px;
  margin-top: 22px;
}
