.trivia__header {
  align-items: center;
  background-color: slateblue;
  display: flex;
  gap: 16px;
  padding: 6px 25px;
  box-shadow: 0 1px 4px;
}

.trivia__header img {
  border: 1px solid black;
  width: 50px;
}

.trivia__header span {
  font-size: 1.3rem;
}
