.App {
  background-color: #282c34;
  height: 100vh;
  text-align: center;
}

.App-logo {
  margin: 20px 0;
  pointer-events: none;
  width: 300px;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.homeForm {
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  color: #282c34;
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 10px auto;
  justify-content: center;
  width: 20vw;
}

.homeInput {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid #282c3442;
  margin: 10px 0;
  padding: 15px 0;
  width: 300px;
}

.homePlayBtn {
  background-color: #23f52d;
  border: none;
  color: #282c34;
  margin: 10px;
  padding: 5px 20px;
}
.homePlayBtn:disabled {
  background-color: #adadad;
}

.homePlayBtn:hover {
  background-color: #1cda25;
}

.homePlayBtn:active {
  background-color: #19c421;
}

.gamePageContainer {
  color: #f2f2f2;
}

.answerButtons {
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
  color: #282c34;
  font-weight: 777;
  margin: 0 10px;
  padding: 10px;
}

.answerButtons:hover {
  background-color: #d1d1d1;
}

.answerButtons:disabled {
  background-color: #bebdbd;
}

.headerContainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
}

.headerContainer img {
  border: 1px solid #282c34;
  border-radius: 50px;
}

.emailHeaderDiv {
  margin: 10px 0;
}

.feedbackContainer {
  color: #f2f2f2;
}