.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

section {
  display: flex;
  flex-direction: column;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: center;
  margin: 10rem;
  width: 500px;
}

.form-login input {
  border-radius: 10px;
  font-size: 15px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 20px;
  width: 300px;
}

.form-login button {
  border-radius: 10px;
  height: 100px;
  margin-left: 90px;
  margin-top: 20px;
  width: 330px;
}
