body {
  background-image: url("/assets/yellowBack.svg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  min-height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

/* .App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
} */

.App-link {
  color: #61dafb;
}

.show-btn {
  display: inline-block;
}

.hide-btn {
  display: none;
}

.show-correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.show-incorrect-answer {
  border: 3px solid red;
}

.pretty-button {
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  background-color: rgb(117, 149, 255);
  border: 3px solid rgb(34, 50, 189);
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.pretty-title {
  font-family: cursive;
  font-size: 70px;
  letter-spacing: -2px;
  margin: 0;
  color: rgb(117, 149, 255);
  text-shadow: -3px 0 rgb(34, 50, 189), 0 3px rgb(34, 50, 189),
    3px 0 rgb(34, 50, 189), 0 -3px rgb(34, 50, 189);
}
