html {
    width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(3,107,82);
  background: linear-gradient(0deg, rgba(3,107,82,1) 23%, rgba(45,253,111,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}
