.login-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  height: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  .login-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.login-input {
  border-radius: 6px;
  padding: 6px;
  margin: 6px;
  background-color: rgb(211, 248, 245);
  border: 3px solid rgb(116, 149, 255);
  font-family: monospace;
  color: rgb(77, 17, 108);
  font-weight: bold;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  background-color: rgb(115, 44, 151);
  width: 200px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: inset 0 0 1em rgb(133, 93, 153), 0 0 1em rgb(77, 17, 108);
  border: 7px solid rgb(77, 17, 108);
}

.login-label {
  font-family: monospace;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.login-button {
  border-radius: 25px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
  background-color: rgb(252, 228, 93);
  border: 3px solid rgb(231, 160, 22);
  font-family: cursive;
  font-weight: bold;
  font-size: 18px;
  color: rgb(77, 17, 108);
  cursor: pointer;
}

.login-button:disabled {
  background-color: rgb(240, 232, 185);
  border: 3px solid rgb(187, 155, 92);
  color: rgb(135, 108, 148);
}

.login-footer {
  margin-top: auto;
  padding: 16px 0;
}

.login-footer-link {
  text-decoration: none;
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  color: rgb(211, 248, 245);
  letter-spacing: 2px;
  text-shadow: -1px 0 rgb(116, 149, 255), 0 1px rgb(116, 149, 255),
    1px 0 rgb(116, 149, 255), 0 -1px rgb(116, 149, 255);
}

.login-footer-link:hover {
  color: rgb(135, 108, 148);
  text-shadow: -1px 0 rgb(77, 17, 108), 0 1px rgb(77, 17, 108),
    1px 0 rgb(77, 17, 108), 0 -1px rgb(77, 17, 108);
}
