.settings-img {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  margin-top: 40px;
  box-shadow: 0 0 5em white;
  border: 10px solid rgb(77, 17, 108);
}

.settings-title {
  font-family: cursive;
  font-size: 70px;
  letter-spacing: -2px;
  margin: 0;
  margin-top: 30px;
  color: rgb(77, 17, 108);
  text-shadow: -2.5px 0 rgb(153, 116, 172), 0 2.5px rgb(153, 116, 172),
    2.5px 0 rgb(153, 116, 172), 0 -2.5px rgb(153, 116, 172);
}

.settings-text {
  font-family: monospace;
  font-weight: bold;
  font-size: 15px;
  color: rgb(77, 17, 108);
}
